@model ProductListViewModel

@foreach(Product p in Model?.Products?? Enumerable.Empty<Product>())
    {
        <partial name="ProductSummary" model="p"/>
        @*<div class="card card-outline-primary m-1 p-1">
            <div class="bg-faded p-1">
                <h4>
                    @p.Name
                    <span class="badge rounded-pill bg-primary text-white" style="float:right">
                        <small>@p.Price.ToString("c")</small>
                    </span>
                </h4>
            </div>
            <div class="card-text p-1">@p.Description</div>
        </div>*@
    }

    <div page-model="@Model?.PagingInfo" page-action="Index" 
    page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" 
    page-class-selected="btn-primary" page-url-category="@Model?.CurrentCategory!"
    class="btn-group pull-right m-1">
    </div>